@import "./rem-calc.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: rem-calc(20) 0;
  border-radius: rem-calc(10);
  cursor: pointer;

  text-decoration: none;

  &__primary {
    color: #fff;
    background: var(--primary-color);
  }

  &__secondary {
    color: #fff;
    background: var(--secondary-color);
  }
}
